<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="sentence_id" content="<%= id %>">
    <meta name="api_key" content="<%= api_key %>">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title -%></title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <script src="/javascripts/headers.js"></script>
    <script src="/javascripts/sentences/show.js"></script>
  </head>
  <body>
    <h1><%= title -%></h1>
    <div>
      <p><strong>Id:</strong> <span id="id"></span></p>
      <p><strong>Content:</strong> <span id="content"></span></p>
      <p><strong>Categories:</strong> <span id="cats"></span></p>
    </div>

    <div>
      <a href="/sentences" class="button">Back</a>
      <a href="/sentences/<%= id %>/edit" class="button">Edit</a>
      <a href="#" class="button" id="delete">Delete</a>
    </div>
  </body>
</html>
